body {
  margin: 0px;
  width: 100%;
  background-color: white;
}

h3 {
  font-family: "Roboto", sans-serif;
  margin-left: 5%;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-logo {
  width: 60%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
}

.localisation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #eaeaea;
}

.localisation .localisation-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.localisation .localisation-txt {
  padding: 25px 0px 25px 15px;
  font-family: "Roboto", sans-serif;
}

.accueil {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

.accueil-txt {
  width: 100%;
  padding-top: 25px;
}

.accueil-txt h3 {
  width: 60%;
  margin: auto;
  text-align: center;
}

.accueil-txt p {
  width: 90%;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  margin: auto;
  text-align: center;
}

.btn-accueil {
  margin: auto;
  padding-bottom: 35px;
}

.btn-accueil .Button-accueil {
  font-family: "Roboto", sans-serif;
  padding: 15px;
  border-radius: 25px;
  margin-top: 25px;
  color: white;
  background-color: #ff79da;
  border: none;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
}

.fonction-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonction-btn1 {
  position: relative;
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
}

.fonction-btn1:hover {
  background-color: #f5edff;
}

.fonction-btn1:hover i {
  color: #9356dc;
}

.fonction-btn1 span {
  position: absolute;
  left: -10px;
  border: none;
  border-radius: 25px;
  background-color: #9356dc;
  padding: 4px 8px 4px 8px;
}

.fonction-btn1 i {
  margin-left: 25px;
  color: #7e7e7e;
}

.fonction-btn1 p {
  font-weight: 600;
  margin-left: 20px;
}

.restaurant {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 55px;
}

.vignette {
  position: relative;
  margin-top: 15px;
  width: 100%;
}

.vignette .vignette-img {
  width: 85%;
  margin: auto;
}

.vignette img {
  width: 100%;
  height: 181px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
}

.vignette .vignette-txt {
  height: 70px;
  width: 85%;
  margin: auto;
  margin-top: -25px;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
}

.vignette .vignette-txt h4 {
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  padding-left: 10px;
}

.vignette .vignette-txt p {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  margin-top: -15px;
}

.vignette i {
  position: absolute;
  top: 208px;
  right: 40px;
}

footer {
  background-color: #353535;
  padding-bottom: 25px;
}

footer h3 {
  color: white;
  font-family: "Shrikhand", sans-serif;
  margin-left: 30px;
  margin-top: 0px;
  padding-top: 20px;
}

footer i {
  color: white;
}

footer ul {
  padding-left: 30px;
  list-style: none;
}

footer li {
  color: white;
  font-family: "Roboto", sans-serif;
}

footer li span {
  padding-left: 10px;
}
/*# sourceMappingURL=style.css.map */