@keyframes spinner {
  from {
    height: 100vh;
  }
  to {
    height: 0px;
  }
}
@keyframes page {
  from {
    height: 0px;
    overflow: hidden;
  }
  to {
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
body {
  margin: 0px;
  width: 100%;
  background-color: white;
}
body .fingerprint-spinner {
  animation: 0s spinner 1.5s forwards;
}
body .full-page {
  animation: 0s page 1.5s forwards;
}

.full-page {
  position: absolute;
  height: 0px;
  z-index: 5;
  width: 100%;
  overflow: hidden;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:link {
  color: black;
  text-decoration: none;
  border: none;
}

.localisation {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #eaeaea;
}
.localisation .localisation-box {
  display: flex;
  align-items: center;
  margin: auto;
}
.localisation .localisation-box i {
  margin-left: 0px;
}
.localisation .localisation-txt {
  padding: 25px 0px 25px 15px;
  font-family: "Roboto", sans-serif;
}

.accueil {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

.accueil-txt {
  width: 100%;
  padding-top: 25px;
}
.accueil-txt h3 {
  width: 60%;
  margin: auto;
  text-align: center;
}
.accueil-txt p {
  width: 90%;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  margin: auto;
  text-align: center;
}

.restaurant {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;
}

.vignette {
  margin: auto;
  margin-top: 15px;
  width: 95%;
}
.vignette .vignette-img {
  position: relative;
  width: 85%;
  margin: auto;
}
.vignette .vignette-img .new p {
  position: absolute;
  top: 0px;
  right: 15px;
  background-color: #99e2d0;
  border-radius: 5px;
  font-family: "Roboto", "sans-serif";
  color: black;
  padding: 5px 10px 5px 10px;
}
.vignette img {
  width: 100%;
  height: 181px;
  overflow: hidden;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
}
.vignette .vignette-txt {
  position: relative;
  height: 70px;
  width: 85%;
  margin: auto;
  margin-top: -25px;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
}
.vignette .vignette-txt h4 {
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  padding-left: 10px;
}
.vignette .vignette-txt p {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  margin-top: -15px;
  font-weight: 500;
}
.vignette .vignette-txt i {
  position: absolute;
  top: 25px;
  right: 40px;
  color: gray;
  transition: font-weight 0.4s;
  transition-property: left;
}
.vignette .vignette-txt i:hover, .vignette .vignette-txt i :active {
  animation: 0.8s heart 0s forwards;
}

h3 {
  font-family: "Roboto", "sans-serif";
  margin-left: 5%;
}

i {
  margin-left: 25px;
  color: #7e7e7e;
}

p {
  font-weight: 600;
}

@keyframes check-box {
  from {
    width: 0px;
  }
  to {
    width: 60px;
  }
}
@keyframes heart {
  from {
    font-weight: initial;
    color: gray;
  }
  to {
    font-weight: bold;
    color: hotpink;
  }
}
@keyframes logo-rotate {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes fade-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes translate-menu {
  from {
    transform: translate(0px, 10px);
  }
  to {
    transform: translate(0px, 0px);
  }
}
.box1 {
  animation: 0.6s translate-menu 1.2s forwards, 1s fade-menu 1.2s forwards;
}

.box2 {
  animation: 0.6s translate-menu 1.4s forwards, 1s fade-menu 1.4s forwards;
}

.box3 {
  animation: 0.6s translate-menu 1.6s forwards, 1s fade-menu 1.6s forwards;
}

.box4 {
  animation: 0.6s translate-menu 1.8s forwards, 1s fade-menu 1.8s forwards;
}

.box5 {
  animation: 0.6s translate-menu 1.8s forwards, 1s fade-menu 2s forwards;
}

.box6 {
  animation: 0.6s translate-menu 1.8s forwards, 1s fade-menu 2.2s forwards;
}

.box7 {
  animation: 0.6s translate-menu 1.8s forwards, 1s fade-menu 2.4s forwards;
}

.box8 {
  animation: 0.6s translate-menu 1.8s forwards, 1s fade-menu 2.6s forwards;
}

.box9 {
  animation: 0.6s translate-menu 1.8s forwards, 1s fade-menu 2.8s forwards;
}

.box10 {
  animation: 0.6s translate-menu 1.8s forwards, 1s fade-menu 3s forwards;
}

.box11 {
  animation: 0.6s translate-menu 1.8s forwards, 1s fade-menu 3.2s forwards;
}

.box12 {
  animation: 0.6s translate-menu 1.8s forwards, 1s fade-menu 3.4s forwards;
}

.box13 {
  animation: 0.6s translate-menu 1.8s forwards, 1s fade-menu 3.6s forwards;
}

.box-titre {
  opacity: 0;
  position: relative;
}
.box-titre .box-titre-bar {
  position: absolute;
  top: 18px;
  left: 15px;
  width: 35px;
  border: solid 2px #99e2d0;
}

.top-box {
  opacity: 0;
  background-color: white;
  overflow: hidden;
  border: none;
  border-radius: 15px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.53);
}

.title-img {
  width: 100%;
  height: 215px;
  overflow: hidden;
}
.title-img img {
  width: 100%;
}

h2 {
  font-family: "Shrikhand", "sans serif";
}

.main-page {
  background-color: #f6f6f6;
}

.main-menu {
  width: 100%;
  position: relative;
  top: -45px;
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: none;
}
.main-menu .main-menu-titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.main-menu-coeur i {
  color: gray;
  transition: font-weight 0.4s;
}
.main-menu-coeur i:hover,
.main-menu-coeur i :active {
  animation: 3s heart 0s forwards;
}

.box-menu:hover .box-valid {
  animation: 0.5s check-box 0s forwards;
}
.box-menu:hover i {
  animation: 0.5s logo-rotate 0s forwards;
}

.box-titre {
  margin-top: 25px;
}
.box-titre p {
  margin-left: 15px;
  font-weight: 599;
}

.box-menu__top {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-menu__middle {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-menu__bottom {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-txt {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 85%;
}

.box-price {
  height: 70px;
  line-height: 70px;
  margin-right: 10px;
  margin-left: 10px;
}
.box-price span {
  font-size: larger;
}

.box-h h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px;
  font-family: "Roboto", "sans-serif";
}

.box-l span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Roboto", "sans-serif";
  font-weight: 200;
}

.box-valid {
  height: 100%;
  width: 0%;
  background-color: #99e2d0;
}

.box-valid-container {
  width: 60px;
  height: 100%;
}

.box-valid-logo i {
  position: relative;
  left: -5px;
  color: white;
  height: 70px;
  line-height: 70px;
  white-space: nowrap;
}

.btn-accueil {
  margin: auto;
  padding-bottom: 35px;
}
.btn-accueil .Button-accueil {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  margin-top: 25px;
  color: white;
  background-color: #ff79da;
  border: none;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  transition: 0.3s;
}
.btn-accueil .Button-accueil:hover {
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
}

.btn-commander .Button-accueil {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  margin-top: 25px;
  color: white;
  background-color: #ff79da;
  border: none;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  transition: 0.3s;
}
.btn-commander .Button-accueil:hover {
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
}

.fonction-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fonction-btn1 {
  position: relative;
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
}
.fonction-btn1 span {
  position: absolute;
  left: -10px;
  border: none;
  border-radius: 25px;
  background-color: #9356dc;
  padding: 4px 8px 4px 8px;
}
.fonction-btn1:hover {
  background-color: #f5edff;
}
.fonction-btn1:hover i {
  color: #9356dc;
}
.fonction-btn1 p {
  padding-left: 15px;
}

.btn-commander {
  display: flex;
  width: 100%;
  padding-bottom: 35px;
}
.btn-commander .Button-accueil {
  font-family: "Roboto", sans-serif;
  padding: 15px 40px 15px 40px;
  border-radius: 25px;
  margin: auto;
  margin-top: 25px;
  color: white;
  background-color: #ff79da;
  border: none;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
}

.fingerprint-spinner, .fingerprint-spinner * {
  box-sizing: border-box;
}

.fingerprint-spinner {
  background-color: #f6f6f6;
  padding: 0px;
  overflow: hidden;
  position: absolute;
  margin: auto;
  height: 100vh;
  width: 100%;
  z-index: 10;
}

.fingerprint-spinner .spinner-ring {
  position: absolute;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #9356DC;
  animation: fingerprint-spinner-animation 1500ms cubic-bezier(0.68, -0.75, 0.265, 1.75) infinite forwards;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.fingerprint-spinner .spinner-ring:nth-child(1) {
  height: calc(60px / 9 + 0 * 60px / 9);
  width: calc(60px / 9 + 0 * 60px / 9);
  animation-delay: calc(50ms * 1);
}

.fingerprint-spinner .spinner-ring:nth-child(2) {
  height: calc(60px / 9 + 1 * 60px / 9);
  width: calc(60px / 9 + 1 * 60px / 9);
  animation-delay: calc(50ms * 2);
}

.fingerprint-spinner .spinner-ring:nth-child(3) {
  height: calc(60px / 9 + 2 * 60px / 9);
  width: calc(60px / 9 + 2 * 60px / 9);
  animation-delay: calc(50ms * 3);
}

.fingerprint-spinner .spinner-ring:nth-child(4) {
  height: calc(60px / 9 + 3 * 60px / 9);
  width: calc(60px / 9 + 3 * 60px / 9);
  animation-delay: calc(50ms * 4);
}

.fingerprint-spinner .spinner-ring:nth-child(5) {
  height: calc(60px / 9 + 4 * 60px / 9);
  width: calc(60px / 9 + 4 * 60px / 9);
  animation-delay: calc(50ms * 5);
}

.fingerprint-spinner .spinner-ring:nth-child(6) {
  height: calc(60px / 9 + 5 * 60px / 9);
  width: calc(60px / 9 + 5 * 60px / 9);
  animation-delay: calc(50ms * 6);
}

.fingerprint-spinner .spinner-ring:nth-child(7) {
  height: calc(60px / 9 + 6 * 60px / 9);
  width: calc(60px / 9 + 6 * 60px / 9);
  animation-delay: calc(50ms * 7);
}

.fingerprint-spinner .spinner-ring:nth-child(8) {
  height: calc(60px / 9 + 7 * 60px / 9);
  width: calc(60px / 9 + 7 * 60px / 9);
  animation-delay: calc(50ms * 8);
}

.fingerprint-spinner .spinner-ring:nth-child(9) {
  height: calc(60px / 9 + 8 * 60px / 9);
  width: calc(60px / 9 + 8 * 60px / 9);
  animation-delay: calc(50ms * 9);
}

@keyframes fingerprint-spinner-animation {
  100% {
    transform: rotate(360deg);
  }
}
.header {
  width: 100%;
  display: flex;
  border: none;
  align-items: center;
}
.header .header-logo {
  width: 60%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
}

@media (min-width: 769px) {
  .header {
    width: 100%;
    display: flex;
    border: none;
    align-items: center;
  }
  .header .header-logo {
    width: 35%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
  }
}
footer {
  background-color: #353535;
  padding-bottom: 25px;
}
footer h3 {
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-size: x-large;
  margin-left: 30px;
  margin-top: 0px;
  padding-top: 20px;
}
footer i {
  color: white;
  margin-left: 0px;
  margin-right: 10px;
  width: 23px;
}
footer ul {
  padding-left: 30px;
  list-style: none;
}
footer li {
  display: flex;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}

@media (min-width: 650px) {
  footer h3 {
    text-align: center;
    font-size: xx-large;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 425px) {
  .accueil-txt h3 {
    font-size: x-large;
    width: 100%;
  }
  .accueil-txt p {
    width: 80%;
  }

  .fonction-title h3 {
    text-align: center;
    margin-left: 0px;
  }

  .fonction-btn1 {
    width: 60%;
  }

  .btn-accueil button {
    font-size: larger;
  }
}
@media (min-width: 700px) {
  .fonction-btn {
    flex-direction: row;
  }
  .fonction-btn button {
    width: 30%;
  }
  .fonction-btn button span {
    left: -6px;
  }
}
@media (min-width: 1440px) {
  .fonction-title h3 {
    text-align: center;
    margin-left: 0px;
    font-size: x-large;
  }

  .restaurant h3 {
    font-size: x-large;
    text-align: center;
    margin-left: 0%;
  }

  .restaurant-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .restaurant-box .vignette {
    width: 350px;
    margin-bottom: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
