h3 {
  font-family: "Roboto", "sans-serif";
  margin-left: 5%;
}

i {
  margin-left: 25px;
  color: #7e7e7e;
}

p {
  font-weight: 600;
}

.btn-accueil {
  margin: auto;
  padding-bottom: 35px;
}
.btn-accueil .Button-accueil {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  margin-top: 25px;
  color: white;
  background-color: #ff79da;
  border: none;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  transition: 0.3s;
}
.btn-accueil .Button-accueil:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.btn-commander .Button-accueil {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  margin-top: 25px;
  color: white;
  background-color: #ff79da;
  border: none;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  transition: 0.3s;
}
.btn-commander .Button-accueil:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.fonction-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fonction-btn1 {
  position: relative;
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
}
.fonction-btn1 span {
  position: absolute;
  left: -10px;
  border: none;
  border-radius: 25px;
  background-color: #9356dc;
  padding: 4px 8px 4px 8px;
}
.fonction-btn1:hover {
  background-color: #f5edff;
}
.fonction-btn1:hover i {
  color: #9356dc;
}
.fonction-btn1 p {
  padding-left: 15px;
}

.btn-commander {
  display: flex;
  width: 100%;
  padding-bottom: 35px;
}
.btn-commander .Button-accueil {
  font-family: "Roboto", sans-serif;
  padding: 15px 40px 15px 40px;
  border-radius: 25px;
  margin: auto;
  margin-top: 25px;
  color: white;
  background-color: #ff79da;
  border: none;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
}

.loader {
  color: red;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load4 {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
.header {
  width: 100%;
  display: flex;
  border: none;
  align-items: center;
}
.header .header-logo {
  width: 60%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
}

footer {
  background-color: #353535;
  padding-bottom: 25px;
}
footer h3 {
  color: white;
  font-family: "Shrikhand", sans-serif;
  margin-left: 30px;
  margin-top: 0px;
  padding-top: 20px;
}
footer i {
  color: white;
  margin-left: 0px;
  margin-right: 10px;
  width: 23px;
}
footer ul {
  padding-left: 30px;
  list-style: none;
}
footer li {
  display: flex;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}

body {
  margin: 0px;
  width: 100%;
  background-color: white;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:link {
  color: black;
  text-decoration: none;
  border: none;
}

.localisation {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #eaeaea;
}
.localisation .localisation-box {
  display: flex;
  align-items: center;
  margin: auto;
}
.localisation .localisation-box i {
  margin-left: 0px;
}
.localisation .localisation-txt {
  padding: 25px 0px 25px 15px;
  font-family: "Roboto", sans-serif;
}

.accueil {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

.accueil-txt {
  width: 100%;
  padding-top: 25px;
}
.accueil-txt h3 {
  width: 60%;
  margin: auto;
  text-align: center;
}
.accueil-txt p {
  width: 90%;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  margin: auto;
  text-align: center;
}

.restaurant {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;
}

.vignette {
  margin: auto;
  margin-top: 15px;
  width: 95%;
}
.vignette .vignette-img {
  position: relative;
  width: 85%;
  margin: auto;
}
.vignette .vignette-img .new p {
  position: absolute;
  top: 0px;
  right: 15px;
  background-color: #99e2d0;
  border-radius: 5px;
  font-family: "Roboto", "sans-serif";
  color: black;
  padding: 5px 10px 5px 10px;
}
.vignette img {
  width: 100%;
  height: 181px;
  overflow: hidden;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
}
.vignette .vignette-txt {
  position: relative;
  height: 70px;
  width: 85%;
  margin: auto;
  margin-top: -25px;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
}
.vignette .vignette-txt h4 {
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  padding-left: 10px;
}
.vignette .vignette-txt p {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  margin-top: -15px;
  font-weight: 500;
}
.vignette .vignette-txt i {
  position: absolute;
  top: 25px;
  right: 40px;
  color: #c566db;
  transition: font-weight 0.4s;
  transition-property: left;
}
.vignette .vignette-txt i:hover {
  font-weight: bold;
}
.vignette .vignette-txt i:visited {
  font-weight: bold;
}

@keyframes check-box {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}
@keyframes logo-rotate {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.title-img {
  width: 100%;
  height: 215px;
}
.title-img img {
  width: 100%;
}

h2 {
  font-family: "Shrikhand", "sans serif";
}

.main-page {
  background-color: #f6f6f6;
}

.main-menu {
  width: 100%;
  position: relative;
  top: -45px;
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: none;
}
.main-menu .main-menu-titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.box-menu {
  background-color: white;
  overflow: hidden;
  border: none;
  border-radius: 15px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.53);
}
.box-menu:hover .box-valid {
  animation: 1s check-box 0s forwards;
}
.box-menu:hover .box-valid-logo {
  animation: 1s logo-rotate 0s forwards;
}

.box-titre {
  margin-top: 25px;
}
.box-titre p {
  margin-left: 15px;
}

.top-box {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-txt {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 85%;
}

.box-price {
  padding-top: 20px;
  margin-right: 10px;
}

.box-h h4 {
  margin: 0px;
  font-family: "Roboto", "sans-serif";
}

.box-l span {
  font-family: "Roboto", "sans-serif";
  font-weight: 200;
}

.box-valid {
  height: 100%;
  width: 0%;
  background-color: #99e2d0;
}

.box-valid-container {
  width: 60px;
  height: 100%;
}

.box-valid-logo i {
  color: white;
  height: 62px;
  line-height: 62px;
  white-space: nowrap;
}

/*# sourceMappingURL=style.css.map */
