.btn-accueil {
  margin: auto;
  padding-bottom: 35px;

  .Button-accueil {
    font-family: $primary-font;
    cursor: pointer;
    padding: 15px;
    border-radius: 25px;
    margin-top: 25px;
    color: white;
    background-color: #ff79da;
    border: none;
    box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
      opacity: 0.85;
      cursor: pointer;
      box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
      -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
      -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
    }
  }
}

.btn-commander {
  .Button-accueil {
    font-family: $primary-font;
    font-size: larger;
    cursor: pointer;
    padding: 15px;
    border-radius: 25px;
    margin-top: 25px;
    color: white;
    background-color: #ff79da;
    border: none;
    box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
      opacity: 0.85;
      box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
      -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
      -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.53);
    }
  }
}

.fonction-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.fonction-btn1 {
  position: relative;
  p {
    color: white;
    font-size: 12px;
    font-family: $primary-font;
    position: absolute;
    left: 6%;
    top: -2px;
    border: none;
    border-radius: 25px;
    background-color: #9356dc;
    padding: 4px 8px 4px 8px;
  }
}

.fonction-btn2 {
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 15px;
  font-family: $primary-font;
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  span {
    font-size: 15px;
    margin-left: 30px;
    padding: 10px;
    font-weight: 600;
  }
  &:hover {
    background-color: #f5edff;
    i {
      color: #9356dc;
    }
  }
  p {
    padding-left: 15px;
  }
}

.btn-commander {
  display: flex;
  width: 100%;
  padding-bottom: 35px;

  .Button-accueil {
    font-family: $primary-font;
    padding: 15px 40px 15px 40px;
    border-radius: 25px;
    margin: auto;
    margin-top: 25px;
    color: white;
    background-color: #ff79da;
    border: none;
    box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.53);
  }
}
