$primary-font: "Roboto", "sans-serif";
$secondary-font: "Shrikhand", "sans serif";

h3 {
  font-family: "Roboto", "sans-serif";
  margin-left: 5%;
}

i {
  margin-left: 25px;
  color: #7e7e7e;
}

p {
  font-weight: 600;
}
