.title-img {
  width: 100%;
  img {
    width: 100%;
  }
}

h2 {
  font-family: $secondary-font;
}

.main-menu {
  width: 100%;
  position: relative;
  top: -45px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f6f6f6;
  border: none;
  .main-menu-titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

.box-menu {
  background-color: white;
  border: none;
  border-radius: 15px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.53);
}

.box-titre {
  margin-top: 25px;
  p {
    margin-left: 15px;
  }
}

.top-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px 10px 0px;
}

.box-txt {
  width: 60%;
}

.box-price {
  padding-top: 20px;
}

.box-h {
  h4 {
    margin: 0px;
    font-family: $primary-font;
  }
}

.box-l {
  span {
    font-family: $primary-font;
    font-weight: 200;
  }
}
