@media (min-width: 426px) {
  .main-menu {
    width: 100%;
    position: relative;
    top: -45px;
    background-color: #f6f6f6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: none;
    .main-menu-titre {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      h2 {
        font-size: 30px;
      }
    }
  }
}

@media (min-width: 601px) {
  .top-box {
    opacity: 0;
    background-color: white;
    overflow: hidden;
    border: none;
    border-radius: 15px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.53);
  }

  .main-menu {
    width: 100%;
    position: relative;
    top: -45px;
    background-color: #f6f6f6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: none;
    .main-menu-titre {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      h2 {
        font-size: 40px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .box-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .top-box {
    width: 100%;
  }
}
